/* Web Page Styles */
@media (min-width: 769px) {
    #title {
    display: flex;
    align-items: flex-end; 
    height: 80px; 
    padding: 10px;
    }
}

/* Mobile Page Styles */
@media (max-width: 768px) {
    /* padding to fix navbar overlap issue (I will probably need this later) */
    #nav-padding {
        margin-bottom: 60px;
    }
}