/* consistent button styling */
.button {
    padding: 0.5em; 
    font-size: 1em;
    width: 100%;
    height: 50px;
}
/* padding to fix navbar overlap issue */
#nav-padding {
    margin-bottom: 40px;
}