#ingredient_list_list{
    font-size: 30px;
    font-weight: bold;
}
#ingredient_list_item{
    padding: .2em;
}
/* Web Page Styles */
@media (min-width: 769px) {
    #title {
    display: flex;
    align-items: flex-end; 
    height: 80px; 
    padding: 10px;
    }
}
/* Mobile Page Styles */
@media (max-width: 768px) {}