#basic_recipe_info{
    margin-left: 1em;
    margin-right: 1em;
    margin-bottom: 3em; /* this is a quick fix for the navbar overlapping issue that I will likey have to come back to later -J */
}
#allergic_alert{
    margin: 1em;
    margin-left: 0;
    color: #EB1D36;
}

/* Web Page Styles */
@media (min-width: 769px) {
    #title {
    display: flex;
    align-items: flex-end; 
    height: 80px; 
    padding: 10px;
    }
}
/* Mobile Page Styles */
@media (max-width: 768px) {}