#basic_recipe_info{
    margin-left: 1em;
    margin-right: 1em;
    margin-bottom: 4em;
}
#allergic_alert{
    margin: 1em;
    margin-left: 0;
    color: #EB1D36;
}
#main_content{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

/* Web Page Styles */
@media (min-width: 769px) {
    #title {
        display: flex;
        align-items: flex-end; 
        height: 80px; 
        padding: 10px;
        /* margin adjustment to fix navbar overlap issue */
        margin-top: 20px;
    }
}
/* Mobile Page Styles */
@media (max-width: 768px) {
    #last-recipe {
        /* margin adjustment to fix navbar overlap issue */
        margin-bottom: 70px;
    }
    /* margin adjustment to fix navbar overlap issue */
    #recipe_modifier_popup, #recipe_modifier_selection {
        margin-bottom: 75px;
    }
    .message {
        margin-bottom: 70px;
    }
    .recipe-dropdown {
        margin-bottom: 50px;
    }
    /* spacer for mobile so that the navbar does not overlap content*/
    .spacer {
        height: 50px;
    }
    /* Aligned the recipe buttons to the center for mobile. */
    .recipe_button, .recipe_button_allergic{
        display: block;
        margin: auto;
    }
}

/* Allows us to customize the size of buttons for the recipes.
   The standard options looked silly
   Border radius can be adjusted to make buttons rounder
*/
.recipe_button_allergic {
    width: 225px !important;
    height: 200px !important;
    border-radius: 60px !important;
    box-shadow: 0 5px 5px 2px red;
    background-size: cover;
    background-position: center;
    font-size: 28px !important;
    font-weight: bolder;
}
.recipe_grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 50px; 
    padding: 10px;
  }
.recipe_button {
    max-width: 100%; /* This ensures the image won't go off the screen. */
    width: 225px !important;
    height: 200px !important;
    border-radius: 60px !important; 
    background-size: cover;
    /* I tried some other methods to make text more readable
    this is the best method I got to working
    there might be a better method but I'm not great with css*/
    background-position: center;
    font-size: 28px !important;
    font-weight: bolder ;
}

.recipe_button, .recipe_button_allergic{
    color: black;
}

#recipe_button_text {
    background-color: rgba(255, 255, 255, .7);
    border-radius: 20px;
    box-shadow: 0 0 20px white;
}

.message {
    background-color: #d4edda;
    color: #155724;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #c3e6cb;
    border-radius: 4px;
    text-align: center;
}
#recipe_modifier_popup, #recipe_modifier_selection {
    margin-left: .5em;
    margin-right: .5em;
}

/* consistent button styling */
.button {
    padding: 0.5em; 
    font-size: 1em;
    width: 100%;
    height: 50px;
}

.page-container {
    padding: 0.5em;
} 